body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-top: 0;
  margin-top: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0;
}

.container {
  display: block;
  margin: 70px auto;
  background: white;
  width: 40%;
  padding: 5%;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-cities {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 5px;
}

.current-timezone {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.current-timezone:last-child {
  border: none;
}

.current-date {
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.current-time {
  font-weight: bold;
  font-size: 1.5em;
}

.am-pm {
  font-size: 15px;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* Styles for smaller screens */
  .container {
    width: 90%;
    padding: 3%;
  }

  .current-timezone {
    flex-direction: column;
  }

  body {
    background: #fff;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }
}
